.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  .fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;

    input {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
    }

    label {
      display: block;
    }
  }

  .submit {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;

    &:hover {
      background-color: #e2e2e2;
    }
  }
}
.fields-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}
